<div class="container">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Reservation System</h1>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 mt-5">
                <button routerLink="/list" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">All Reservations</button>
                <button routerLink="/new" type="button" class="btn btn-secondary btn-lg px-4">Add Reservation</button>
            </div>
        </div>
    </div>
</div>